<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Cv Roman Bustamante</title>
	</head>
	<body>
		<iframe id="pdf" src="../../public/CV-Roman-Bustamante.pdf" frameborder="0"></iframe>
	</body>
</html>
<style>
    #pdf {
        width: 100%;
        height: 100vh;
    }
</style>