---
import Skills from './Skills.astro'
---


<section 
    id="about"
    class="flex flex-col items-center justify-center
    pt-16 
    ">
    <div class="max-w-[800px] flex flex-col items-center">
        <h2 class="text-center text-3xl pb-6 text-yellow-300">About me</h2>
    <p  class="text-pretty w-[80%] text-base sm:text-xl">
        My name is Roman and I'm a <span class="text-yellow-400/90">young web developer.</span>
        Currently I consider myself <span class="text-lime-500">junior</span>,
        orientated to the <span class="text-sky-500/80">full-stack development</span> and the mobile development. 
    </p>
    <section class="flex sm:flex-row gap-12 flex-col justify-center py-4 items-center ">
        
        <p class="text-base text-balance max-w-[70%] sm:max-w-[300px] py-8">
            I started to be interested in the web development 2 years ago, however, 
            I started to study as a <span class="text-sky-500/80">self-taught person</span> 
            and to create my first projects <span class="text-lime-500">6 months ago</span> and was able to get my first
            work experiences as a freelancer, but I am looking for a job
            more challenging and that allows me to <span class="text-yellow-500">develop myself</span> at the world of work, as well at a personal way.
        </p>
        <Skills/>
    </section>
    </div>

</section>