<span class="bg-lime-400 text-lime-700/90 dark:bg-lime-500/90 dark:text-lime-200 hover:text-lime-200 
            text-center 
            text-xs font-medium 
            me-2 px-2.5 py-0.5 rounded 
            hover:scale-110 transition-colors transition-transform duration-500">
    <slot/>
</span>
