<header class="p-2 flex items-center rounded-3xl px-6 z-10 menu">
    <nav class="gap-x-8 md:gap-x-10 w-full flex justify-center md:text-lg text-xs " >
        <a href="#" class="opacity-80 hover:opacity-100 transition-opacity duration-300 hover:text-yellow-300 transition-colors scroll-hover ">Inicio</a>
        <a href="#projects" class="opacity-80 hover:opacity-100 transition-opacity duration-300 hover:text-yellow-300 transition-colors scroll-hover">Proyectos</a>
        <a href="#experience" class="opacity-80 hover:opacity-100 transition-opacity duration-300 hover:text-yellow-300 transition-colors scroll-hover">Experiencia</a>
        <a href="#about" class="opacity-80 hover:opacity-100 transition-opacity duration-300 hover:text-yellow-300 transition-colors scroll-hover">Sobre mi</a>
    </nav>
</header>