---
import AWS from './icons/AWS.astro'
// import Docker from './icons/Docker.astro'
import Spring from './icons/Spring.astro'
import Java from './icons/Java.astro'
import NodeJS from './icons/NodeJS.astro'
import AstroIcon from "./icons/AstroIcon.astro"
import CSS from "./icons/CSS.astro"
import JS from "./icons/JS.astro"
import HTML from "./icons/HTML.astro"
import React from "./icons/React.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
// import RadixUI from './icons/RadixUI.astro'
// import StoryBook from './icons/Storybook.astro'
// import Express from './icons/Express.astro'
// import Nest from './icons/Nest.astro'
import Typescript from './icons/Typescript.astro'
// import Prisma from './icons/Prisma.astro'
import MySql from './icons/MySql.astro'
import MongoDB from './icons/MongoDB.astro'
// import Zod from './icons/Zod.astro'
import Bash from './icons/Bash.astro'
import Linux from './icons/Linux.astro'
// import Slack from './icons/Slack.astro'
// import NPM from './icons/npm.astro'
import Git from './icons/Git.astro'
// import Github from './icons/Github.astro'
import JWT from './icons/JWT.astro'
import Vite from './icons/vite.astro'
---

<section class="p-0">
    <h2 class="text-center py-0">Tecnologias</h2>
    <section class="grid grid-cols-2 gap-6 sm:gap-10 bg-slate-600/30 rounded-2xl border border-slate-500/80 py-2 px-4">    
    <section class="">
        <h2 class="pb-2 text-center">Frontend</h2>
        <section class="flex gap-4 flex-wrap justify-center">
            <HTML class="size-8 hover:scale-[1.15] transition-transform duration-200"></HTML>
            <CSS class="size-8 hover:scale-[1.15] transition-transform duration-200"></CSS>
            <JS class="size-8 hover:scale-[1.15] transition-transform duration-200"></JS>
            <React class="size-8 hover:scale-[1.15] transition-transform duration-200"></React>
            <NextJS class="size-8 hover:scale-[1.15] transition-transform duration-200"></NextJS>
            <Tailwind class="size-8 hover:scale-[1.15] transition-transform duration-200"></Tailwind>
            <AstroIcon class="size-8 hover:scale-[1.15] transition-transform duration-200"></AstroIcon>
            <!-- <RadixUI class="size-8 hover:scale-[1.15] transition-transform duration-200"></RadixUI> -->
            <!-- <StoryBook class="size-8 hover:scale-[1.15] transition-transform duration-200"></StoryBook> -->
        </section>
    </section>
    <section class="">
        <h2 class="pb-2 text-center">Backend</h2>
        <section class="flex gap-4 flex-wrap justify-center">
            <NodeJS class="size-8 hover:scale-[1.15] transition-transform duration-200"></NodeJS>
            <!-- <Express class="size-8 hover:scale-[1.15] transition-transform duration-200"></Express> -->
            <!-- <Nest class="size-8 hover:scale-[1.15] transition-transform duration-200"></Nest> -->
            <Typescript class="size-8 hover:scale-[1.15] transition-transform duration-200"></Typescript>
            <!-- <Prisma class="size-8 hover:scale-[1.15] transition-transform duration-200"></Prisma> -->
            <MySql class="size-8 hover:scale-[1.15] transition-transform duration-200"></MySql>
            <MongoDB class="size-8 hover:scale-[1.15] transition-transform duration-200"></MongoDB>
            <Java class="size-8 hover:scale-[1.15] transition-transform duration-200"></Java>
            <Spring class="size-8 hover:scale-[1.15] transition-transform duration-200"></Spring>
        </section>
    </section>
    <section class="col-span-2 pb-4">
        <h2 class="pb-2 text-center">Otras</h2>
        <section class="flex gap-4 flex-wrap justify-center">
            <!-- <Docker class="size-8 hover:scale-[1.15] transition-transform duration-200"></Docker> -->
            <AWS class="size-8 hover:scale-[1.15] transition-transform duration-200"></AWS>
            <!-- <Zod class="size-8 hover:scale-[1.15] transition-transform duration-200"></Zod> -->
            <Bash class="size-8 hover:scale-[1.15] transition-transform duration-200"></Bash>
            <Linux class="size-8 hover:scale-[1.15] transition-transform duration-200"></Linux>
            <!-- <Slack class="size-8 hover:scale-[1.15] transition-transform duration-200"></Slack> -->
            <!-- <NPM class="size-8 hover:scale-[1.15] transition-transform duration-200"></NPM> -->
            <Git class="size-8 hover:scale-[1.15] transition-transform duration-200"></Git>
            <!-- <Github class="size-8 hover:scale-[1.15] transition-transform duration-200"></Github>   -->
            <JWT class="size-8 hover:scale-[1.15] transition-transform duration-200"></JWT>
            <!-- <Vite class="size-8 hover:scale-[1.15] transition-transform duration-200"></Vite> -->
            
        </section>
    </section>
</section>
</section>