
<section class="flex  min-[320px]:absolute ">
    <span id="typewriter" class="animation-typewriter fullstack sm:text-2xl text-sm  max-[320px]:text-center">FullStack Developer</span>
    <span id="blinker" class="border-r-4 border-white  max-[320px]:invisible"></span>    
</section>
<!-- <span id="typewriter" class="text-sm max-[270px]:visible">FullStack Developer</span> -->
<!-- <span id="typewriter" class="text-sm max-[270px]:visible">Junior</span>
<span id="typewriter" class="text-sm max-[270px]:visible">Argentina</span>
<span id="typewriter" class="text-sm max-[270px]:visible">Diseñador Web</span> -->

<script is:inline>
    if (screen.width < 320) {
        return
    } 
    else {
        const PHRASES = [
        {text: "FullStack Developer", class: 'fullstack'},// 19ch
        {text: "Junior", class: 'junior'}, // 6ch
        {text: "Argentina", class: 'argentina'}, // 9ch
        {text: "Diseñador Web", class: 'diseñador'} //13ch
    ]

    const typewriter = document.getElementById('typewriter')
    const blinker = document.getElementById('blinker')
    blinker.style.animationPlayState = 'paused'
    let i = 1
   
    const write = setInterval(()=> {
        


        clearInterval(play)
        play = null
        if (!delay) {
            delay =  setInterval(delayFunc, 2000)
        }
        if (!play) {
            play =  setInterval(playFunc, 4000)
        }
        
        typewriter.style.animationPlayState = 'running'
        document.documentElement.style.setProperty("--phrase-width", `${PHRASES[i].text.length += 1}ch`);
        document.documentElement.style.setProperty("--phrase-steps", `${PHRASES[i].text.length += 1}`);
        
        
        typewriter.innerHTML = PHRASES[i].text
        if (i === 3) {
                typewriter.classList.replace(PHRASES[i - 1].class, PHRASES[i].class)
                i = 0
                return
            }
            if (i === 0) {
                typewriter.classList.replace(PHRASES[ PHRASES.length - 1].class, PHRASES[i].class)
                i++
                return
            }
            typewriter.classList.replace(PHRASES[i - 1].class, PHRASES[i].class)
            i++
    }, 6000)
    function delayFunc () {
        typewriter.style.animationPlayState = 'paused'
        blinker.style.animationPlayState = 'running'
    }
    
    let delay = setInterval(delayFunc, 2000)

    function playFunc () {
        typewriter.style.animationPlayState = 'running'
        blinker.style.animationPlayState = 'paused'
        clearInterval(delay)
        delay = null 
    }

    let play = setInterval(playFunc, 4000)

    }
    
</script>
